In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from string import punctuation

from sklearn.decomposition import PCA
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import resample

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.options.display.max_rows = 100
pd.options.mode.chained_assignment = None

## Import Data

In [3]:
train_data = pd.read_csv('train.csv')
train_data.shape

(891, 12)

In [4]:
test_data = pd.read_csv('test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
test_data.shape

(418, 11)

## Explore Dataset
Check nulls, class balance and look at some value counts for different columns.

In [6]:
# Count nulls in each column.
[[col, train_data[col].isnull().sum()] for col in train_data.columns]

[['PassengerId', 0],
 ['Survived', 0],
 ['Pclass', 0],
 ['Name', 0],
 ['Sex', 0],
 ['Age', 177],
 ['SibSp', 0],
 ['Parch', 0],
 ['Ticket', 0],
 ['Fare', 0],
 ['Cabin', 687],
 ['Embarked', 2]]

Look at the class balance. Makes sense to balance classes for model input data.
Maybe look at bagging techniques.

In [7]:
train_data['Survived'].value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [8]:
train_data['Pclass'].value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [9]:
train_data['Sex'].value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

Notably, `Age` is missing a significant number of values. Maybe we can later
impute values using averages across other fields.

In [10]:
train_data['Age'].value_counts(dropna=False).head(10)

NaN     177
24.0     30
22.0     27
18.0     26
28.0     25
19.0     25
30.0     25
21.0     24
25.0     23
36.0     22
Name: Age, dtype: int64

In [11]:
train_data['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

Looking at each of the ports passengers left from:
- There are significantly different class sizes
- There are different survival rates

In [12]:
def embarkment_port_pivot(input_df):
    '''Create a pivot counting the survival/deaths of passengers embarking
    from each separate port.
    '''
    
    df = input_df.pivot_table(
        index=['Embarked'],
        columns=['Survived'],
        values=['PassengerId'],
        aggfunc=len
    )
    
    df.columns = df.columns.droplevel()

    return df

df = embarkment_port_pivot(train_data)
df
df[1] / (df[0] + df[1])

Survived    0    1
Embarked
C          75   93
Q          47   30
S         427  217

Embarked
C    0.553571
Q    0.389610
S    0.336957
dtype: float64

In [13]:
train_data['SibSp'].value_counts(dropna=False)

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [14]:
train_data['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [15]:
train_data['Name'].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

## Feature Engineering
Select and preprocess some features before modelling.

In [16]:
def featurize_column(input_df, input_col, index_col=None):
    '''Convert a column of text labels into a dataframe of binary
    columns in each unique label value.
    
    Args:
    input_df (DataFrame):
    index_col (str):
    input_col (str):
    
    Returns:
    feature_piv (DataFrame):
    
    Example:
    
    User | Job               User | Carpenter | Electrician   
    Joe  | Carpenter    -->  Joe  |    1      |     0
    Jane | Electrician       Jane |    0      |     1

    '''
                    
    feature_piv = input_df[[input_col]]
    feature_piv['count'] = 1
    
    feature_piv = feature_piv.pivot_table(
        index=feature_piv.index,
        columns=[input_col],
        values=['count']
    )
    
    feature_piv.columns = feature_piv.columns.droplevel()
    feature_piv.columns = [input_col + '_' + col for col in feature_piv.columns]
    
    feature_piv = feature_piv.fillna(0)
    
    return feature_piv

def replace_with_featurized_column(input_df, input_col, index_col=None):
    '''Replace a column of text labels in a dataframe with a set of binary
    columns in each unique label value.
    
    Args:
    input_df (DataFrame):
    index_col (str):
    input_col (str):
    
    Returns:
    output_df (DataFrame):

    '''
                    
    feature_piv = featurize_column(input_df, input_col, index_col)
    
    output_df = input_df.drop(input_col, axis=1)
    output_df = output_df.join(feature_piv, how='left')
    
    return output_df

In [17]:
def select_features(input_df):
    '''Select features to be input and preprocessed for model.
    '''
    
    output_df = input_df.set_index('PassengerId')
    
    features = [
        'Survived',
        'Name',
        'Pclass',
        'Sex',
        'Age',
        'SibSp',
        'Parch',
        'Fare',
        'Embarked'
    ]
    
    output_df = output_df[features]
    
    return output_df

In [18]:
def strip_punctuation(input_str):
    '''Remove all punctuation characters from string. Leaves
    whitespace characters as is.
    '''
    stripped = ''.join(c for c in input_str if c not in punctuation)
    return stripped

def get_unique_name_words(input_df):
    '''Find the set of unique words in all names across the dataset.
    Useful for exploring bag of words analysis.
    '''
    s = input_df['Name'].apply(strip_punctuation).str.split(' ')
    s = s.apply(pd.Series).values
    
    s = pd.Series(np.concatenate(s)).dropna()
    s = s.value_counts(dropna=False)
    
    return s

In [19]:
def get_married_female_column(input_df):
    ''' Find if a female is married by checking if her husband's name is
    contained in the 'Name' column, which seems to be demarcated by round
    brackets.
    '''
    output_df = input_df.copy()
    is_woman = output_df['Sex'] == 'female'
    is_married = ((output_df['Name'].str.split(' \(').str.len() + 1) % 2).astype(bool)
    
    output_df['IsMarriedWoman'] = (is_woman & is_married).astype(int)
    
    output_df = output_df.drop('Name', axis=1)
    
    return output_df

In [20]:
def get_num_words_in_name(input_df):
    '''Find the number of words/terms in a passenger's name.
    '''
    
    num_words = input_df['Name'].apply(strip_punctuation).str.split(' ').str.len()
    
    return num_words

In [21]:
def build_model_df(input_df):
    '''Preprocess features and rescale the data.
    '''
    
    model_df = select_features(input_df)
    
    model_df['num_words_in_name'] = get_num_words_in_name(model_df)
    
    model_df = get_married_female_column(model_df)
    
    # Turn sex into single binary column.
    model_df['Sex'] = (model_df['Sex'] == 'female').astype(int)
    
    # Turn embarkment port column into binary columns.
    for col in ['Embarked']:
        model_df = replace_with_featurized_column(model_df, col)
      
    # Store columns before dataframe gets turned into array by scaler.
    model_cols = model_df.columns
        
    # Rescale the data.
    model_df = model_df.dropna()
    scaler = MinMaxScaler(feature_range=(0, 1))
    model_df = pd.DataFrame(
        data=scaler.fit_transform(model_df),
        columns=model_cols
    )
        
    return model_df

model_df = build_model_df(train_data)

In [22]:
model_df.shape

(712, 12)

In [23]:
model_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,num_words_in_name,IsMarriedWoman,Embarked_C,Embarked_Q,Embarked_S
0,0.0,1.0,0.0,0.271174,0.2,0.0,0.014151,0.090909,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.472229,0.2,0.0,0.139136,0.363636,1.0,1.0,0.0,0.0
2,1.0,1.0,1.0,0.321438,0.0,0.0,0.015469,0.000000,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.434531,0.2,0.0,0.103644,0.363636,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.434531,0.0,0.0,0.015713,0.090909,0.0,0.0,0.0,1.0

Examine the feature correlations in the model data:

In [24]:
model_df.corr()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,num_words_in_name,IsMarriedWoman,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.356462,0.536762,-0.082446,-0.015523,0.095265,0.266100,0.257572,0.332121,0.195673,-0.048966,-0.159015
Pclass,-0.356462,1.000000,-0.150826,-0.365902,0.065187,0.023666,-0.552893,-0.188996,-0.137312,-0.279194,0.131989,0.197831
Sex,0.536762,-0.150826,1.000000,-0.099037,0.106296,0.249543,0.182457,0.375334,0.568360,0.103611,0.027256,-0.109078
Age,-0.082446,-0.365902,-0.099037,1.000000,-0.307351,-0.187896,0.093143,0.061806,0.160059,0.038268,-0.021693,-0.025431
SibSp,-0.015523,0.065187,0.106296,-0.307351,1.000000,0.383338,0.139860,0.158096,0.083013,-0.046227,0.051331,0.018968
Parch,0.095265,0.023666,0.249543,-0.187896,0.383338,1.000000,0.206624,0.209213,0.240322,-0.009523,-0.009417,0.013259
Fare,0.266100,-0.552893,0.182457,0.093143,0.139860,0.206624,1.000000,0.132568,0.081096,0.301337,-0.062346,-0.250994
num_words_in_name,0.257572,-0.188996,0.375334,0.061806,0.158096,0.209213,0.132568,1.000000,0.678194,0.034772,-0.110123,0.019183
IsMarriedWoman,0.332121,-0.137312,0.568360,0.160059,0.083013,0.240322,0.081096,0.678194,1.000000,0.037413,-0.047113,-0.012746
Embarked_C,0.195673,-0.279194,0.103611,0.038268,-0.046227,-0.009523,0.301337,0.034772,0.037413,1.000000,-0.095623,-0.884986
Embarked_Q,-0.048966,0.131989,0.027256,-0.021693,0.051331,-0.009417,-0.062346,-0.110123,-0.047113,-0.095623,1.000000,-0.378859
Embarked_S,-0.159015,0.197831,-0.109078,-0.025431,0.018968,0.013259,-0.250994,0.019183,-0.012746,-0.884986,-0.378859,1.000000

Separate train and test datasets.

In [25]:
features = model_df[model_df.columns[1:]]
targets = model_df[model_df.columns[0]]

X_train, X_test, y_train, y_test = train_test_split(
    features, 
    targets, 
    test_size=0.30, 
    random_state=1
)

## Build Model

### Logistic Regression
Since the target is binary let's go with the logisitic regression estimator. This appears to be performing
better than an SGD classifier with these input features.

First GridSearch over `C` and `penalty` params to find optimal model.

In [26]:
logistic_reg = LogisticRegression(
    max_iter=100, 
    tol=1e-3, 
    solver='liblinear'
)

pipe = Pipeline(
    steps=[('logistic', logistic_reg)]
)

# Set pipeline parameters and their ranges.
param_grid = {
    'logistic__C': np.arange(0.1, 1.1, 0.1),
    'logistic__penalty': ['l1', 'l2'],
}

search = GridSearchCV(pipe, param_grid, iid=True, cv=5)
search.fit(X_train, y_train)
"Best parameter (CV score=%0.3f):" % search.best_score_
search.best_params_

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('logistic',
                                        LogisticRegression(C=1.0,
                                                           class_weight=None,
                                                           dual=False,
                                                           fit_intercept=True,
                                                           intercept_scaling=1,
                                                           l1_ratio=None,
                                                           max_iter=100,
                                                           multi_class='warn',
                                                           n_jobs=None,
                                                           penalty='l2',
                                                           random_state=None,
                                                           solver='liblinear',
                                                           tol=0.001, verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid=True, n_jobs=None,
             param_grid={'logistic__C': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]),
                         'logistic__penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

'Best parameter (CV score=0.795):'

{'logistic__C': 1.0, 'logistic__penalty': 'l1'}

Evaluate logistic regression model using optimal params.

In [27]:
best_model = search.best_estimator_
y_pred = best_model.predict(X_test)

'Mean prediction accuracy: ' + str(best_model.score(X_test, y_test))
'Precision score: ' + str(precision_score(y_test, y_pred, average='binary'))
'Recall score: ' + str(recall_score(y_test, y_pred, average='binary'))

'Mean prediction accuracy: 0.7757009345794392'

'Precision score: 0.7222222222222222'

'Recall score: 0.7386363636363636'

### Random Forest Classifier
The performance of the logistic regression is not great. Let's look at a random forest
classifier.

In [28]:
rfc = RandomForestClassifier()

pipe = Pipeline(
    steps=[('rfc', rfc)]
)

# Set pipeline parameters and their ranges.
param_grid = {
    'rfc__bootstrap': [True, False],
    'rfc__n_estimators': np.arange(15, 46, 5),
    'rfc__criterion': ['gini', 'entropy'],
}

search = GridSearchCV(pipe, param_grid, iid=True, cv=5)
search.fit(X_train, y_train)
"Best parameter (CV score=%0.3f):" % search.best_score_
search.best_params_


best_model = search.best_estimator_
y_pred = best_model.predict(X_test)

'Mean prediction accuracy: ' + str(best_model.score(X_test, y_test))
'Precision score: ' + str(precision_score(y_test, y_pred, average='binary'))
'Recall score: ' + str(recall_score(y_test, y_pred, average='binary'))

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('rfc',
                                        RandomForestClassifier(bootstrap=True,
                                                               class_weight=None,
                                                               criterion='gini',
                                                               max_depth=None,
                                                               max_features='auto',
                                                               max_leaf_nodes=None,
                                                               min_impurity_decrease=0.0,
                                                               min_impurity_split=None,
                                                               min_samples_leaf=1,
                                                               min_samples_split=2,
                                                               min_weight_fraction_leaf=0.0,
                                                               n_estimators='warn',
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid=True, n_jobs=None,
             param_grid={'rfc__bootstrap': [True, False],
                         'rfc__criterion': ['gini', 'entropy'],
                         'rfc__n_estimators': array([15, 20, 25, 30, 35, 40, 45])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

'Best parameter (CV score=0.821):'

{'rfc__bootstrap': True, 'rfc__criterion': 'entropy', 'rfc__n_estimators': 30}

'Mean prediction accuracy: 0.7663551401869159'

'Precision score: 0.7261904761904762'

'Recall score: 0.6931818181818182'

Let's try upsampling the minority class (survivors).

In [29]:

def upsample_minority(X_train, y_train):
    '''Artificially create more samples in the minority class using
    k-nearest neighbours.
    '''

    # Concatenate training data back together.
    X = pd.concat([X_train, y_train], axis=1)

    # Separate minority and majority classes.
    died = X[X['Survived'] == 0]
    survived = X[X['Survived'] == 1]

    # Upsample minority class.
    survived_upsampled = resample(
        survived,
        replace=True,
        n_samples=died.shape[0],
        random_state=2
    )

    # Replace minority data with upsampled data.
    upsampled = pd.concat([died, survived_upsampled])

    upsamp_y_train = upsampled['Survived']
    upsamp_X_train = upsampled.drop('Survived', axis=1)
    
    return upsamp_X_train, upsamp_y_train

upsamp_X_train, upsamp_y_train = upsample_minority(X_train, y_train)

# upsampled_model = LogisticRegression(solver='liblinear')
upsampled_model = RandomForestClassifier(n_estimators=20)
upsampled_model.fit(upsamp_X_train, upsamp_y_train)

upsampled_pred = upsampled_model.predict(X_test)

'Mean prediction accuracy: ' + str(upsampled_model.score(X_test, y_test))
'Precision score: ' + str(precision_score(y_test, upsampled_pred, average='binary'))
'Recall score: ' + str(recall_score(y_test, upsampled_pred, average='binary'))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

'Mean prediction accuracy: 0.780373831775701'

'Precision score: 0.7469879518072289'

'Recall score: 0.7045454545454546'